<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/style.css">

    <!-- <style>
        *{
            background-color: burlywood;
        }
    </style> -->

</head>
<body>
    <h1><i>Adding New User</i>
    </h1>
    <form action="/user/new" method="POST">
        <input type="text" name="username" placeholder="Enter username" style="width:250px;">
        <input type="email" name="email" placeholder="Enter  email" style="width:250px;">
        <input type="password" name="password" placeholder="Enter password" style="width:250px;">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>