<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/style.css">
<!-- 
    <style>
        *{
            background-color: burlywood;
        }
    </style> -->

</head>
<body>
    <h2>Enter Username and Password of <br><em><%=user.email%></em> To Delete User:</h2>
    <form action="/user/<%= user.id%>?_method=DELETE" method="POST">
        <input type="text" name="username" placeholder="Enter username" style="width:250px;">
        <input type="password" name="password" placeholder="Enter password" style="width:250px;">
        <button type="submit">Delete</button>
    </form>
    
</body>
</html>