<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">

    <!-- <style>
        *{
            background-color: burlywood;
        }
    </style> -->
</head>

<body>

    <h1><em>User Management System</em></h2>
    <h2>Number to people with us : <%= count %></h2>
    <form action="/users">
        <button type="submit">Join us!</button>

    </form>
</body>
</html>